body {
    background-color: blue;
    color:white;
    font-size: 21px;
} 

p {
    color:red;
}

.intro {
    font.size: 30px;
}

.highlight {
    background: yellow;
}

.accent-color {
    color: green;
}

h1 {
    font-size: 70px;
    color:pink;
}

.top-section {
    
}

.bottom-section {
    
}