body {
    background-color: blue;
    color:white;
    font-size: 21px;
} 

p {
    color:red;
}

h1 {
    font-size: 70px;
    color:pink;
}
div {
    background: pink;
    width: 500px;
    height: 500px;
}
span {
    color: yellow;
    font-size: 40px;
}